body {
    font-family: 'Oswald', sans-serif;
}

.form_box{
    width: 700px;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff9f9;
    box-shadow: 0 5px 10px rgba(196, 44, 44, 0.12);
}

button:hover{
    cursor: pointer;
}

.social-icons i {
    font-size: 24px;
    margin-right: 4px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    background-color: #333;
    color: white;
}
.texticon{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
    background-color:#3da9c7;
    border-radius: 0 75px 75px 0;
    margin: 0 auto;
    padding: 70px;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ebe9e9;
    color: #333;
    margin-bottom: 15px;
}

.right{
    width: 50%;
    padding: 10px;
    align-items: center;
}

#registerbtn{
    padding: 10px 50px;
    background-color: #3da9c7;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    margin: 5px;
}

.loginbtn{
    background: linear-gradient(45deg, #041b29, rgb(6, 183, 196));
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

@media (max-width: 700px) {
    .form_box {
        width: 90%;
        flex-direction: column;
        gap: 0px;
    }
}

#p1{
    margin-top: 0;
}

.left> h1,
.left > p{
    margin: 5px 0px;
}

