body {
  font-family: 'Oswald', sans-serif;
}

.form-box{
  width: 700px;
  min-height: 400px;
  display: flex;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff9f9;

}

@media (max-width: 700px) {
  .form-box {
    width: 90%;
    flex-direction: column;
  }
  .wel{
    padding-left: 10px;
  }

  .log{
    margin-bottom: 10px;
  }

  .right h1{
    font-size: 25px;
  }

}


/* left side */

.left{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

img{
  width: 24px;
  height: 24px;
  border: #041b29 solid 1px;
  border-radius: 5px;
  padding: 5px;
}

input{
  display: block;
  line-height: normal;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ebe9e9;
  color: #333;
  margin-bottom: 18px;
}

.btn{
  width: 100%;
  background: linear-gradient(45deg, #041b29, rgb(6, 183, 196));
  padding: 10px 63px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  color: white;
}

.img-box{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100px;
}

/* right side */
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:0px;
  background-color: #3da9c7;
  border-radius: 70px 0 0 70px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  /* padding: 50px 50px; */
  margin: 0 auto;
}

.log{
  padding: 8px 28px;
  margin-top: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #3da9c7;;
}

.right h1, 
.right p {
  margin: 5px 0;
}

h2,.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}