.form-box{
  width: 700px;
  min-height: 400px;
  display: flex;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fefcfc;

}

@media (max-width: 700px) {
  .form-box {
    width: 90%;
    flex-direction: column;
  }
}


/* left side */

.left{
  width: 50%;
  align-items: center;
}

.social-icons i {
    font-size: 24px;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    background-color: #333;
    color: white;
}

input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f2f2;
  color: #333;
  margin-bottom: 15px;
}

.btn{
  width: 100%;
  background: linear-gradient(45deg, #041b29, rgb(6, 183, 196));
  padding: 10px 63px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  color: white;
}

.img-box{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100px;
}

/* right side */
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #3da9c7;
  border-radius: 70px 0 0 70px;
  align-items: center;
  justify-content: center;
  padding: 70px 70px;
}

.log{
  padding: 8px 28px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #3da9c7;;
}

h3,.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}