*{
  background-color:rgb(134, 119, 150);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.nav-link:hover {
      color: rgb(43, 112, 110);
      font-weight: bold;
      cursor: pointer; /* Optional: changes cursor on hover */
      margin: 3px;
    }

.hero-section {
  background: #8c7a9b;
  min-height: 450px;
  overflow: hidden;
}

.hero-img {
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
}

.curve {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 90px;
  background: #fff;
  border-top-left-radius: 100% 90px;
  border-top-right-radius: 100% 90px;
}
