*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

#reso{
  padding-top: 50px;
}

.logo{
  display: flex;
  padding: 11px;
  margin: 5px;
  margin-right: auto;
  color: #fff7e6;
  
}

.nav{
  background-color: #52677b;
}

.nav-link{
  background-color: #52677b;
  color: #fff7e6;
  padding: 11px;
}

.logo{
  display: flex;
  margin: 5px;
  margin-right: auto;
  color: #fff7e6;;
  
}

.nav-link:hover {
  color: #c5b797;
  font-weight: bold;
  cursor: pointer; 
}

#about{
  padding-top: 50px;
}

.fw-bold{
  color: black;
}

.btn{
  padding: 10px;
  background-color: #52677b;
  color: rgb(255, 255, 255);
  border: none;
}

.btn:hover{
  background-color: #3f4f5e;
}

.hero-img {
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
}

.goo{
  padding-top: 20px;
}

.curve {
  margin-top: 10px;
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 90px; 
  background: #fff;
  border-top-left-radius: 100% 90px;
  border-top-right-radius: 100% 90px;
  overflow: hidden;
}

.event-container{
  margin-left: 3px;
  margin-top: 8px;
  display: flex;
  padding: 40px;
  align-items: center;
  background-color: #eae9e9;
  border-radius: 10px;
  color: black;
  border: rgb(244, 232, 232) solid 1px;
  border-top: 6px solid #1446A0;
}

.mission-box {
  background: #F5F7FA;
  border-radius: 15px;
  padding: 30px;
  height: 100%;
  border-left: 6px solid #1446A0;
}

.feature-icon {
  font-size: 40px;
  color: #1446A0;
}

.principal-img {
  width: 140px;
  border-radius: 100%;
  border: 4px solid #1446A0;
  margin-bottom: 15px;
}
 #chatBox {
      height: 350px;
      background: #f8f9fa;
      overflow-y: auto;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      padding: 10px;
    }
    .message-user {
      font-weight: 600;
      margin-top: 10px;
    }
    .message-ai {
      color: #0d6efd;
      margin-bottom: 10px;
    }

    /* Upload box */
    .upload-box {
      border: 2px dashed #adb5bd;
      border-radius: 10px;
      padding: 30px;
      text-align: center;
      transition: 0.3s;
    }
    .upload-box:hover {
      background: #f1f3f5;
      border-color: #0d6efd;
    }



















    